.interaction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  input {
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #979797;
    font-family: 'Open Sans', sans-serif;

    &:focus {
      outline-color: #979797;
    }
  }
}

.select2 {
  width: 150px;
  font-size: 16px;
  padding: 14px;
  border: 1px solid #979797;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}
